body {
  box-sizing: border-box;
}
input[type=number] {
  width: 40px;
}

input[type=range] {
  width: 500px;
}

#bowl {
  height: 500px;
  width: 750px;

  margin-top: 50px;

  border: 5px solid black;
  background-color: aqua;
  /* border-radius: 100%; */

  display: flex;
  flex-direction: column;
  align-items: center;
}
#stream {
  height: 100%;
  width: 10px;
  background-color: blue;
}
#water {
  background-color: blue;
  width: 750px;
  height: 50px;
}
