<nav>
  <h2 class="text-lg">General</h2>
  <ol class="pl-4 mb-4">
    <li><%= link_to 'Home', root_path %></li>
  </ol>

  <h2 class="text-lg">System</h2>
  <ol class="pl-4 mb-4">
    <li><%= link_to 'Users', system_users_path %></li>
    <li><%= link_to 'Houses', system_houses_path %></li>
    <li><%= link_to 'Scores', system_scores_path %></li>
  </ol>
</nav>
